<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths Quiz</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Maths Quiz</h1>
            <a href="{{url_for('signin')}}" class="float-right">Sign Out</a>
        </div>

<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 76%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br><br>
        <div class="row justify-content-center shift">
            <div class="col-12 col-sm-4">
                <a href="{{url_for('question37')}}">Question 37</a>
            </div>
            <div class="col-12 col-sm-4">
                Question 38
            </div>
            <div class="col-12 col-sm-4">
                <a href="{{url_for('question39')}}">Question 39</a>
            </div>
        </div>
        <br><br>
        <div class="container col-12 offset-sm-2 col-sm-8 bg">
            <h2 class="lead just">
                <span class="q">Q38</span> What is the area of a unit cm square?
            </h2>
               <br>
                <form action="{{url_for('quesAns10')}}" method="post">
                <div class="row col-12">
            <div class="form-check float-left  shiftmar">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    1
                </label>
              </div>
              <div class="form-check float-right  shiftmar">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" name="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    2
                </label>
              </div>
            </div>
                <div class="row col-12">
              <div class="form-check float-left shiftmar">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" name="defaultCheck3">
                <label class="form-check-label" for="defaultCheck3">
                  3
                </label>
              </div>
              <div class="form-check float-right shiftmar">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" name="defaultCheck4">
                <label class="form-check-label" for="defaultCheck4">
                  4
                </label>
              </div>
              </div>
              <br><br>
              <button type="button" class="btn btn-warning offset-sm-5">Submit</button>
        </form>
    </div>
</body>
</html>
